// --------------------------------------------------
// RWD devices information
// --------------------------------------------------
$RWD_MOBILE: "min-width: 0";
$RWD_MOBILE_ONLY: "max-width: 519px";
$RWD_TABLET_SMALL: "min-width: 520px";
$RWD_TABLET: "min-width: 760px";
$RWD_DESKTOP: "min-width: 960px";
$RWD_DESKTOP_WIDE: "min-width: 1280px";